.pagination-container{
     display: flex;
     gap: 30px;
}
.pagination-change-link-box{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}
.left-light-icon{
    width: 20px;
    height: 20px;

    background-image: url(assts/back.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}
.pagination-divider{
    color: #AEAEAE;

    font-size: 40px;
    font-weight: 400;
    line-height: 200%;
}
.right-light-icon{
    width: 20px;
    height: 20px;

    background-image: url(assts/right.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}
.search-bottom-populer-word-box{
    width: 323px;
    margin-right: 206px;

    display: flex;
}
.search-bottom-populer-word-card{
    padding: 20px;

    border: 1px solid #AEAEAE;
}
.search-bottom-populer-card-box{
    display: flex;
    flex-direction: column;

    gap: 20px;
}
.search-bottom-popular-card-title{
    color: rgba(0, 0, 0, 1);

    font-size: 20px;
    font-weight: 600;
}
.search-bottom-popular-card-contents{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.word-badge {
    padding: 2px 8px;

    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 30px;
    background: rgba(53, 139, 67, 0.38);
}